*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    background-color: beige;
    /* height: 100%;
    width: 100%; */
}

.container{
        height: 100%;
        width: 100%;
        overflow-x: none;
        background-color: #e2e5e8;
        background-image: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);
    
    }
   
.logo{
   color: azure;;
   font-weight: normal;
   text-shadow: 2px 2px 2px #cbbdbd;
   padding-left:3.2rem;
   font-size: 2rem;
}
.navcontainer{
  
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    position: relative;
    margin-bottom:0.5rem;

}

.navlists {
    width: 100%;
    list-style-type: none;
     padding:20px;
    margin-right:5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navlinks{
    display: flex;
    font-size: 1.4rem;
    gap:100px;
    
}
.navlinks a{
    text-decoration: none;
    /* color: #f1eaea; */
    color: rgb(250, 243, 243);
}
.navlinks a:hover,
.navlinks a:active{
    color: rgb(248, 242, 242);
    text-shadow: 1px 1px 1px #e7d9d9;
}
.maincontainer{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
  
 

}


.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:100px;
    padding: 3rem;
    /* position: relative;*/
    /* color: white; */
    overflow: hidden; 
   
}
.item{
    display: flex;
    gap:250px;
    /* justify-content: space-around; */
}
.leftbox{
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
    gap:20px;
}
.leftbox h2{
    font-size:1.5rem;
}
.ingedientslists{
    font-size: 1.4rem;
}
.rightbox img{
    /* width:400px; */
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
    /* border: 1px solid gray; */
    border-radius: 20px;
    transition: all 0.3s  linear 0s;

}
.rightbox{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition: all 0.6s linear 0s;
    box-shadow:1px 1px 10px rgb(7, 4, 4);
    border-radius:20px;
    /* overflow-x: hidden; */
}

.rightbox:hover{
    transform: scale(1.1);
}
.rightbox .overlayer{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    border-radius:20px;
    background-color:rgba(36, 34, 34, 0.713);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightbox:hover .overlayer{
    opacity: 1;
}
.rightbox .overlayer span{
    color: white;
    font-size: 1rem;
}

.footer{
    width: 100%;
    color:rgb(250, 233, 233);
    min-height: 40px;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);

    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:23px;
    margin-top:0.5rem;
}
